body {
    font-family: Arial, sans-serif;
    background-color: #131517;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #FDFF3A;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin: auto;
}

input, select {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FDFF3A;
    color: #131517;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E6E700;
}

.btnCalcular{
    grid-area: 5 / 1 / 6 / 3;
}

#resultados {
    background-color: #ffffff;
    color: #131517;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin-top: 20px;
}
